<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
    <main>
      <h1>Login</h1>
      <%- include('login-form') %>
    </main>
    <%- include('../footer') %>
  </body>
</html>
