<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../left-sidebar') %>
    <main>
      <h2>Register</h2>
      <%- include('register-form') %>
    </main>
    <%- include('../right-sidebar') %>
    <%- include('../footer') %>
  </body>
</html>
