<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <% const title = '404 - Page Not Found - OldSchoolGames' %>
  <% const description = 'The page you are looking for was not found. Explore hundreds of classic MS-DOS games from the 80s and 90s instead!' %>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:url" content="https://oldschoolgames.eu/404" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="OldSchoolGames" />
  <meta property="og:image" content="https://oldschoolgames.eu/images/navbar.webp" />
</head>

<body class="layout">
  <%- include('navbar') %>
  <%- include('left-sidebar') %>
  <main>
    <div class="container">
      Page not found
    </div>
  </main>
  <%- include('right-sidebar') %>
  <%- include('footer') %>
</body>

</html>
