<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body class="layout">
    <%- include('navbar') %>
    <%- include('left-sidebar') %>
    <main>
      Something broke!
    </main>
    <%- include('right-sidebar') %>
    <%- include('footer') %>
  </body>
</html>
