<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-915H2BJTTY"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-915H2BJTTY");
</script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= locals.title || 'OldSchoolGames - Retro MS-DOS Games' %></title>
<link rel="icon" type="image/x-icon" href="/favicon.png" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="canonical" href="https://oldschoolgames.eu<%= req.path %>" />
<meta
  name="description"
  content="Explore the world of classic retro games from the MS-DOS era! Stream your favorite vintage games directly on our website and relive the nostalgia."
/>
<meta
  name="keywords"
  content="retro games, classic games, MS-DOS games, vintage games, game streaming, play old games, online retro gaming, DOSBox, old PC games, 80s games, 90s games"
/>
<!-- Open Graph -->
<meta
  property="og:title"
  content="<%= locals.title || 'OldSchoolGames - Retro MS-DOS Games' %>"
/>
<meta
  property="og:description"
  content="<%= locals.description || 'Explore and relive the golden era of MS-DOS games with OldSchoolGames. From classics to hidden gems, discover your favorite retro games.' %>"
/>
<meta property="og:image" content="<%= locals.image %>" />
<meta
  property="og:url"
  content="<%= locals.url || req.protocol + '://' + req.get('host') + req.originalUrl %>"
/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="OldSchoolGames" />
<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:title"
  content="<%= locals.title || 'OldSchoolGames - Retro MS-DOS Games' %>"
/>
<meta
  name="twitter:description"
  content="<%= locals.description || 'Explore and relive the golden era of MS-DOS games with OldSchoolGames. From classics to hidden gems, discover your favorite retro games.' %>"
/>
<meta name="twitter:image" content="<%= locals.image %>" />
<meta name="twitter:site" content="@OldSchoolGames" />
<meta name="twitter:creator" content="@OldSchoolGames" />
