<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OldSchoolGames</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="description" content="OldSchoolGames" />
    <meta name="keywords" content="games, retro, oldschool" />
  </head>
  <body class="layout">
    <%- include('navbar') %>
    <%- include('sidebar') %>
    <main>
      <% if (session.user?.role === "ADMIN") { %>
      <div class="text-right">
        <a href="/games/new">+ Add a new game</a>
      </div>
      <% } %>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
      <%- include('games/game-list') %>
    </main>
  </body>
</html>
