<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body class="layout">
    <%- include('navbar') %>
    <%- include('sidebar') %>
    <main>
      <% if (session.user?.role === "ADMIN") { %>
      <div class="text-right">
        <a href="/games/new">+ Add a new game</a>
      </div>
      <% } %>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
      <%- include('games/game-list') %>
    </main>
  </body>
</html>
