<aside class="right-sidebar">
  <header>Recently added</header>
  <ul class="nav nav-column">
    <% recentlyAddedGames.map(game => { %>
    <li>
      <a class="nav-link text-truncate" href="/<%= game.slug %>">
        <%= game.title %>
      </a>
    </li>
    <% }); %>
    <li>
      <a class="nav-link" href="/?orderBy=createdAt&orderDir=DESC">All...</a>
    </li>
  </ul>

  <br />

  <header>Popular games</header>
  <ul class="nav nav-column">
    <% topRatedGames.map(game => { %>
    <li>
      <a class="nav-link text-truncate" href="/<%= game.slug %>">
        <%= game.title %>
      </a>
    </li>
    <% }); %>
    <li>
      <a class="nav-link" href="/?orderBy=rating&orderDir=DESC">All...</a>
    </li>
  </ul>

  <br />

  <header>Browse by</header>
  <ul class="nav nav-column">
    <li>
      <a class="nav-link <%= req.path === '/developers' ? 'active' : '' %>" href="/developers">
        All Developers
      </a>
    </li>
    <li>
      <a class="nav-link <%= req.path === '/publishers' ? 'active' : '' %>" href="/publishers">
        All Publishers
      </a>
    </li>
    <li>
      <a class="nav-link <%= req.path === '/years' ? 'active' : '' %>" href="/years">
        Browse by Year
      </a>
    </li>
  </ul>
</aside>
