<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../head') %>
  <title>Edit game - OldSchoolGames</title>
  <meta name="description" content="Play classic DOS games online in your browser" />
</head>

<body class="layout">
  <%- include('../navbar') %>
  <%- include('../left-sidebar') %>
  <main>
    <div class="container">
      <h2>Edit Game</h2>
      <%- include('game-form') %>
    </div>
  </main>
  <%- include('../right-sidebar') %>
  <%- include('../footer') %>
</body>

</html>
