<article class="game-item">
  <a href="/<%= game.slug %>">
    <img
      alt="<%= game.title %>"
      loading="lazy"
      src="<%= game.images[0] %>"
      width="100"
    />
  </a>
  <div class="game-item-content">
    <a class="color-primary font-bold" href="/<%= game.slug %>">
      <h3 class="text-md" style="margin: 0"><%= game.title %></h3>
    </a>
    <div><%= game.description?.slice(0, 100) %>...</div>
    <div class="text-sm">
      Genre: <%= game.genre %><br />
      Release: <%= game.release %><br />
      Developer / Publisher: <%= [game.developer, game.publisher].filter(Boolean).join(", ") %><br />
    </div>
    <% if (req.session.user?.role === "ADMIN") { %>
    <div class="flex" style="gap: 5px">
      <a class="btn btn-sm btn-warning" href="/games/<%= game.id %>/edit">Edit</a>
      <form action="/games/<%= game.id %>/delete" method="POST">
        <button
          class="btn-sm btn-danger"
          onclick="return confirm('Are you sure?')"
          type="submit"
        >
          Delete
        </button>
      </form>
    </div>
    <% } %>
  </div>
</article>
