<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
    <main>
      <header class="game-detail-header">
        <a href="/">&lt; Back</a>
        <% if (req.session.user?.role === "ADMIN") { %>
        <span class="flex" style="gap: 10px">
          <a href="/games/<%= game.id %>/edit">Edit</a>
          <form action="/games/<%= game.id %>/delete" method="POST">
            <button onclick="return confirm('Are you sure?')" type="submit">
              Delete
            </button>
          </form>
        </span>
        <% } %>
      </header>
      <h1><%= game.title %></h1>
      <p>
        <a class="game-detail-initial" href="<%= game.images[0] %>" target="_blank">
          <img src="<%= game.images[0] %>" alt="initial" width="150" />
        </a>
        <%- game.description %>
      </p>
      <div style="clear: left"></div>
      <div class="text-sm" style="margin-bottom: 20px">
        <hr />
        Genre: <%= game.genre %><br />
        Release: <%= game.release %><br />
        Developer / Publisher: <%= [game.developer, game.publisher].filter(Boolean).join(", ") %><br />
        <hr />
      </div>
      <% if (game.stream) { %>
      <iframe
        src="js-dos.html?stream=<%= game.stream %>"
        frameborder="0"
        style="width: 640px; height: 370px;"
      ></iframe>
      <% } %>
      <p style="margin-top: 25px">
        <% game.images.filter(Boolean).forEach((image, index) => { %>
          <% if (index !== 0) { %>
          <a href="<%= image %>" target="_blank">
            <img src="<%= image %>" alt="<%= game.title %>" width="320" />
          </a>
          <% } %>
        <% }); %>
      </p>
      <p>
        <button disabled type="button">Download</button>
      </p>
      <% if (game.manual) { %>
      <p>
        <a href="<%= game.manual %>" target="_blank">Manual</a>
      </p>
      <% } %>
      <h2>Comments</h2>
      <%- include('../comments/comment-list') %>
      <h2>New Comment</h2>
      <%- include('../comments/comment-form') %>
    </main>
    <%- include('../footer') %>
  </body>
</html>
