<form action="/games/<%= game?.id %>" method="POST">
  <p>
    <label for="title">Title *</label><br />
    <input
      id="title"
      maxlength="255"
      name="title"
      required
      type="text"
      value="<%= game?.title %>"
    />
  </p>
  <p>
    <label for="description">Description</label><br />
    <textarea id="description" name="description" rows="10"><%= game?.description %></textarea>
  </p>
  <p>
    <label for="genre">Genre *</label><br />
    <select id="genre" name="genre" required>
      <option value="">&nbsp;</option>
      <% gameGenres.map(genre => { %>
      <% locals.selected = game?.genre === genre ? "selected" : ""; %>
      <option <%= locals.selected %> value="<%= genre %>"><%= genre %></option>
      <% }); %>
    </select>
  </p>
  <p>
    <label for="release">Release</label><br />
    <input
      id="release"
      name="release"
      type="number"
      value="<%= game?.release %>"
    />
  </p>
  <p>
    <label for="developer">Developer</label><br />
    <input
      id="developer"
      maxlength="255"
      name="developer"
      type="text"
      value="<%= game?.developer %>"
    />
  </p>
  <p>
    <label for="publisher">Publisher</label><br />
    <input
      id="publisher"
      maxlength="255"
      name="publisher"
      type="text"
      value="<%= game?.publisher %>"
    />
  </p>
  <div>
    <label for="image-cover">Images</label><br />
    <ul style="margin-top: 5px">
      <li>
        <p>
          <label for="image-cover">Cover</label><br />
          <input
            id="image-cover"
            name="images"
            type="url"
            value="<%= game?.images[0] %>"
          />
        </p>
      </li>
      <li>
        <p>
          <label for="image-1">Image 1</label><br />
          <input
            id="image-1"
            name="images"
            type="url"
            value="<%= game?.images[1] %>"
          />
        </p>
      </li>
      <li>
        <p>
          <label for="image-2">Image 2</label><br />
          <input
            id="image-2"
            name="images"
            type="url"
            value="<%= game?.images[2] %>"
          />
        </p>
      </li>
      <li>
        <p>
          <label for="image-3">Image 3</label><br />
          <input
            id="image-3"
            name="images"
            type="url"
            value="<%= game?.images[3] %>"
          />
        </p>
      </li>
    </ul>
  </div>
  <p>
    <label for="stream">Stream</label><br />
    <input id="stream" name="stream" type="text" value="<%= game?.stream %>" />
  </p>
  <p>
    <label for="manual">Manual</label><br />
    <input id="manual" name="manual" type="url" value="<%= game?.manual %>" />
  </p>
  <button type="submit"><%= game ? "Update" : "Create" %> Game</button> |
  <a href="/">Back</a>
</form>
