<form action="/games/<%= game?.id %>" method="POST">
  <p>
    <label for="title">Title *</label><br />
    <input id="title" maxlength="255" name="title" required type="text" value="<%= game?.title %>" />
  </p>
  <p>
    <label for="description">Description</label><br />
    <textarea id="description" name="description" rows="10"><%= game?.description %></textarea>
  </p>
  <p>
    <label for="genre">Genre *</label><br />
    <select id="genre" name="genre" required>
      <option value=""></option>
      <% gameGenres.map(genre => { %>
      <option <%= game?.genre === genre ? "selected" : "" %> value=<%= genre %>><%= genre %></option>
      <% }); %>
    </select>
  </p>
  <p>
    <label for="release">Release</label><br />
    <input id="release" name="release" type="number" value="<%= game?.release %>" />
  </p>
  <p>
    <label for="developer">Developer</label><br />
    <input id="developer" maxlength="255" name="developer" type="text" value="<%= game?.developer %>" />
  </p>
  <p>
    <label for="publisher">Publisher</label><br />
    <input id="publisher" maxlength="255" name="publisher" type="text" value="<%= game?.publisher %>" />
  </p>
  <p>
    <label for="images">Images</label><br />
    <ol>
      <li>
        <input id="images" name="images" type="url" value="<%= game?.images[0] %>" />
      </li>
      <li>
        <input name="images" type="url" value="<%= game?.images[1] %>" />
      </li>
      <li>
        <input name="images" type="url" value="<%= game?.images[2] %>" />
      </li>
    </ol>
  </p>
  <p>
    <label for="stream">Stream</label><br />
    <input id="stream" name="stream" type="text" value="<%= game?.stream %>" />
  </p>
  <p>
    <label for="manual">Manual</label><br />
    <input id="manual" name="manual" type="url" value="<%= game?.manual %>" />
  </p>
  <button type="submit"><%= game ? "Update" : "Create" %> Game</button> |
  <a href="/">Back</a>
</form>
