<% if (games.length) { %>
<div class="game-list">
  <% games.forEach((game) => { %>
  <%- include('game-item', { game }) %>
  <% }); %>
</div>
<% } else { %>
<p>No games found</p>
<% } %>

<div class="flex justify-between">
  <span>Page <%= page %></span>
  <span>
    <% if (page > 1) { %>
    <a
      class="color-primary"
      href="?<%= new URLSearchParams({ ...req.query, page: 1 }).toString() %>"
    >
      &lt;&lt; First
    </a>
    <a
      class="color-primary"
      href="?<%= new URLSearchParams({ ...req.query, page: page - 1 }).toString() %>"
    >
      &lt; Previous
    </a>
    <% } %> <% if (games.length === limit) { %>
    <a
      class="color-primary"
      href="?<%= new URLSearchParams({ ...req.query, page: page + 1 }).toString() %>"
    >
      Next &gt;
    </a>
    <% } %>
  </span>
</div>
