<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
    <main>
      <a href="/">&lt; Back</a>
      <h1><%= game.title %></h1>
      <p><%= game.description %></p>
      Genre: <%= game.genre %><br />
      Release: <%= game.year %><br />
      Publisher: <%= game.publisher %><br />
      <p>
        <% game.images.filter(Boolean).forEach((image) => { %>
        <a href="<%= image %>" target="_blank">
          <img src="<%= image %>" alt="<%= game.title %>" width="320" />
        </a>
        <% }); %>
      </p>
      <p><%- game.stream %></p>
      <p><button id="fullscreen-btn" type="button">Fullscreen</button></p>
      <h2>Comments</h2>
      <%- include('../comments/comment-list') %>
      <h2>New Comment</h2>
      <%- include('../comments/comment-form') %>
    </main>
    <script>
      const fullscreenBtn = document.getElementById("fullscreen-btn");
      fullscreenBtn.addEventListener("click", () => {
        const iframe = document.querySelector("iframe");
        iframe.requestFullscreen();
        iframe.focus();
      });
    </script>
  </body>
</html>
