<li class="game-item">
  <a href="/games/<%= game.slug %>">
    <img src="<%= game.images[0] %>" alt="<%= game.title %>" width="100" />
  </a>
  <div class="game-item-content">
    <a class="font-bold" href="/games/<%= game.slug %>"><%= game.title %></a>
    <div><%= game.description?.slice(0, 100) %>...</div>
    <div class="text-sm">
      Genre: <%= game.genre %><br />
      Release: <%= game.release %><br />
      Publisher: <%= game.publisher %><br />
    </div>
    <% if (req.session.user?.role === "ADMIN") { %>
    <div class="game-item-actions">
      <a href="/games/<%= game.id %>/edit">Edit</a>
      <form action="/games/<%= game.id %>/delete" method="POST">
        <button onclick="return confirm('Are you sure?')" type="submit">
          Delete
        </button>
      </form>
    </div>
    <% } %>
  </div>
</li>
