<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../left-sidebar') %>
    <main>
      <section>
        <header class="game-detail-header">
          <a href="javascript:history.back()">&lt; Back</a>
          <% if (req.session.user?.role === "ADMIN") { %>
          <div class="flex" style="gap: 5px">
            <a class="btn btn-sm btn-warning" href="/games/<%= game.id %>/edit">Edit</a>
            <form action="/games/<%= game.id %>/delete" method="POST">
              <button
                class="btn-sm btn-danger"
                onclick="return confirm('Are you sure?')"
                type="submit"
              >
                Delete
              </button>
            </form>
          </div>
          <% } %>
        </header>
        <header>
          <h1 style="font-size: 2em; margin: 20px 0"><%= game.title %></h1>
          <p>
            <img
              alt="initial"
              class="game-detail-initial"
              src="<%= game.images[0] %>"
              width="150"
            />
            <%- game.description %>
          </p>
        </header>
        <div style="clear: left"></div>
        <div class="text-sm" style="margin-bottom: 20px">
          <hr />
          Genre: <%= game.genre %><br />
          Release: <%= game.release %><br />
          Developer / Publisher: <%= [game.developer,
          game.publisher].filter(Boolean).join(", ") %><br />
          <hr />
        </div>
      </section>
      <% if (game.stream) { %>
      <section>
        <h2 style="margin-bottom: 10px">Just play it!</h2>
        <iframe
          class="game-detail-stream"
          src="js-dos.html?stream=<%= game.stream %>"
          style="border: 0"
          title="<%= game.title %>"
        ></iframe>
      </section>
      <% } %>
      <div style="margin: 25px 0 15px">
        <% game.images.filter(Boolean).forEach((image, index) => { %>
          <% if (index !== 0) { %>
          <figure class="inline-block" style="margin: 0">
            <a href="<%= image %>" target="_blank">
              <img src="<%= image %>" alt="<%= game.title %>" width="320" />
            </a>
          </figure>
          <% } %>
        <% }); %>
      </div>
      <div class="flex" style="gap: 10px">
        <div class="flex-1">
          <p>
            <button disabled type="button">Download</button>
          </p>
          <% if (game.manual) { %>
          <p>
            <a href="<%= game.manual %>" target="_blank">Manual</a>
          </p>
          <% } %>
        </div>
        <nav style="margin: 15px 0">
          Share on social media:
          <a
            href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(locals.url || req.protocol + '://' + req.get('host') + req.originalUrl) %>"
            style="text-decoration: underline"
            target="_blank"
          >
            Facebook
          </a>
          |
          <a
            href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(locals.url || req.protocol + '://' + req.get('host') + req.originalUrl) %>&text=<%= encodeURIComponent(game.title) %>"
            style="text-decoration: underline"
            target="_blank"
          >
            Twitter
          </a>
        </nav>
      </div>
      <section>
        <h2>Comments</h2>
        <%- include('../comments/comment-list') %>
        <h2>New Comment</h2>
        <%- include('../comments/comment-form') %>
      </section>
    </main>
    <%- include('../right-sidebar') %>
    <%- include('../footer') %>
  </body>
</html>
