<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../head') %>
  </head>
  <body class="layout">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
    <main>
      <a href="/">&lt; Back</a>
      <h1><%= game.title %></h1>
      <p>
        <a class="game-detail-initial" href="<%= game.images[0] %>" target="_blank">
          <img src="<%= game.images[0] %>" alt="initial" width="150" />
        </a>
        <%- game.description %>
      </p>
      <hr />
      Genre: <%= game.genre %><br />
      Release: <%= game.release %><br />
      Publisher: <%= game.publisher %><br />
      <hr />
      <p>
        <% game.images.filter(Boolean).forEach((image, index) => { %>
          <% if (index !== 0) { %>
          <a href="<%= image %>" target="_blank">
            <img src="<%= image %>" alt="<%= game.title %>" width="320" />
          </a>
          <% } %>
        <% }); %>
      </p>
      <p>
        <div class="game-detail-stream" id="stream"><%- game.stream %></div>
      </p>
      <p><button id="fullscreen-btn" type="button">Fullscreen</button></p>
      <h2>Comments</h2>
      <%- include('../comments/comment-list') %>
      <h2>New Comment</h2>
      <%- include('../comments/comment-form') %>
    </main>
    <script>
      const fullscreenBtn = document.getElementById("fullscreen-btn");
      fullscreenBtn.addEventListener("click", () => {
        const stream = document.getElementById("stream");
        stream.requestFullscreen();
        stream.querySelector("iframe").focus();
      });
    </script>
  </body>
</html>
